
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<span>
    @* <select class='form-select form-select-sm page-select mb-1'> *@
    <select class='page-select'>
        <option value="10">10</option>
        <option selected value="50">50</option>
        <option value="100">100</option>
        <option value="300">300</option>
        <option value="500">500</option>
    </select>
</span>
<span class='page-rows me-3'>Item total:</span>

<span class='page-total'>Page total:</span>