@model PEViewModel

@* <form asp-action="AddTimeStudyNew" asp-controller="PE" method="post"> *@
@try
{
    <form id="fAddDetail" method="post">
        <div class="modal fade" id="addDetailModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header table-success">
                        <h5 class="modal-title">
                            <i class="bi bi-plus-circle"></i>
                            Add
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="m-2">
                            <div class="bg-light">
                                <div class="row mb-2">
                                    <div class="col">
                                        <h5>Operation Kind</h5>
                                        <select class="form-select" id="Kind" asp-for="TimeStudyNewDtl.OperationKind" required>
                                            <option>PROCESS</option>
                                            <option>ALIGNMENT</option>
                                            <option>PACKING</option>
                                            <option>PROCESS & ALIGN</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <h5>Step No</h5>
                                        <label class="form-label fw-bold fs-6 ms-2">@(Model.StepNo ?? 1)</label>
                                        <input hidden id="StepNo" asp-for="TimeStudyNewDtl.StepNo" value="@(Model.StepNo ?? 1)" />
                                    </div>

                                    <div class="col">
                                        <h5>Step Content</h5>
                                        <input class="form-control" id="StepContent" asp-for="TimeStudyNewDtl.StepContent" />
                                        <input hidden asp-for="TimeStudyNewDtl.Id" />
                                        <input hidden asp-for="TimeStudyNewDtl.ParentId" />
                                    </div>
                                    <div class="col">
                                        <h5>Unit Qty</h5>
                                        <input class="form-control" type="number" id="UnitQty" asp-for="TimeStudyNewDtl.UnitQty" required />
                                    </div>
                                    <div class="col">
                                        <h5>Allocated Opr</h5>
                                        <input class="form-control" type="number" id="AllocatedOpr" asp-for="TimeStudyNewDtl.AllocatedOpr" />
                                    </div>
                                </div>
                                <hr />
                                <div class="row stepDetail">
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-8">
                                                <h5>Process Name</h5>
                                                <input class="form-control" id="ip_processName" asp-for="TimeStudyNewStepDtl.ProcessName" />
                                                <input hidden id="ip_stepID" asp-for="TimeStudyNewStepDtl.StepId" />
                                                <span asp-validation-for="@Model.TimeStudyNewStepDtl.ProcessName" class="text-danger"></span>
                                            </div>

                                             <div class="col-sm-12 col-md-12 col-lg-8">
                                                <h5>Process Qty</h5>
                                                <input class="form-control" type="number" id="ip_processQty" asp-for="TimeStudyNewStepDtl.ProcessQty" style="width:80px" />
                                                <span asp-validation-for="@Model.TimeStudyNewStepDtl.ProcessQty" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <h5>Time01</h5>
                                                <div class="d-flex justify-content-center align-content-center">
                                                    <input id="ip_time01" class="form-control me-2" asp-for="TimeStudyNewStepDtl.Time01"/>
                                                    <a class="btn btn-sm btn-success bt_timer" data-input="#ip_time01">
                                                        <i class="bi bi-play-circle"></i>
                                                        Start
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <h5>Time02</h5>
                                                <div class="d-flex justify-content-center align-content-center">
                                                    <input id="ip_time02" class="form-control me-2" asp-for="TimeStudyNewStepDtl.Time02" />
                                                    <a class="btn btn-sm btn-success bt_timer" data-input="#ip_time02">
                                                        <i class="bi bi-play-circle"></i>
                                                        Start
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <h5>Time03</h5>
                                                <div class="d-flex justify-content-center align-content-center">
                                                    <input id="ip_time03" class="form-control me-2" asp-for="TimeStudyNewStepDtl.Time03" />
                                                    <a class="btn btn-sm btn-success bt_timer" data-input="#ip_time03">
                                                        <i class="bi bi-play-circle"></i>
                                                        Start
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <h5>Time04</h5>
                                                <div class="d-flex justify-content-center align-content-center">
                                                    <input id="ip_time04" class="form-control me-2" asp-for="TimeStudyNewStepDtl.Time04" />
                                                    <a class="btn btn-sm btn-success bt_timer" data-input="#ip_time04">
                                                        <i class="bi bi-play-circle"></i>
                                                        Start
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg">
                                                <h5>Time05</h5>
                                                <div class="d-flex justify-content-center align-content-center">
                                                    <input id="ip_time05" class="form-control me-2" asp-for="TimeStudyNewStepDtl.Time05" />
                                                    <a class="btn btn-sm btn-success bt_timer" data-input="#ip_time05">
                                                        <i class="bi bi-play-circle"></i> 
                                                        Start
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2 d-flex flex-column justify-content-center align-items-center bg-success">
                                        <a class="btn btn-lg btn-info mb-3 bt_addOperation" id="bt_AddOperation">Add</a>
                                        <button type="reset" class="btn btn-sm btn-warning" id="bt_CancelProcess">Cancel</button>
                                    </div>
                                </div>
                            </div>


                            <hr />
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover" id="tb_TimeStudyNewStepDtl">
                                    <thead>
                                    @* <thead class="sticky-top"> *@
                                        <!-- Header Row -->
                                        <tr>
                                            <th class="text-center table-info">Edit</th>
                                            <th class="text-center table-info">No.</th>
                                            <th class="text-center table-info">Process Name</th>
                                            <th class="text-center table-info">Process Qty</th>
                                            <th class="text-center table-info">Time01</th>
                                            <th class="text-center table-info">Time02</th>
                                            <th class="text-center table-info">Time03</th>
                                            <th class="text-center table-info">Time04</th>
                                            <th class="text-center table-info">Time05</th>
                                            <th class="text-center table-info">Time Avg</th>
                                            <th class="text-center table-info">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyTimeStudyNewStepDtlResult">
                                        <partial name="TimeStudyNew/___DetailData" model="Model" />
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="reset" class="btn  btn-warning">
                                <i class="bi bi-arrow-counterclockwise"></i>
                                Clear All
                            </button>
                            <div>
                                <a id="btnAddDtl" class="btn btn-sm btn-info">
                                    <i class="bi bi-floppy"></i>
                                    Save
                                </a>
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <partial name="TimeStudyNew/__Delete" />
}
catch(Exception ex)
{
    string t = ex.Message;
}


