@model List<MESWebDev.Models.VM.MenuViewModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Sort Order</th>
            <th>Permission Key</th>
            <th>Is Active</th>
            <th>Parent</th>
            <th>Icon</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            @await Html.PartialAsync("_MenuRow", new MESWebDev.Models.VM.MenuRowViewModel { Menu = menu, Level = 0 })
        }
        
    </tbody>
</table>