#colorPopup {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 100;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(10, 26px);
    gap: 4px;
}

.color-cell {
    width: 26px;
    height: 26px;
    border: 1px solid #666;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.15s;
}

    .color-cell:hover {
        transform: scale(1.2);
        border-color: black;
    }
