

    <div class="calendar-popup" id="calendarPopup">
        <div class="calendar-header">
            <div>
                <a class="btn btn-sm btn-light cal-prev-year">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
                <a class="btn btn-sm btn-light cal-prev-month">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </div>

            <strong class="cal-label"></strong>

            <div>
                <a class="btn btn-sm btn-light cal-next-month">
                    <i class="bi bi-chevron-right"></i>
                </a>

                <a class="btn btn-sm btn-light cal-next-year">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </div>
        </div>

        <div class="calendar-grid"></div>

        <div class="calendar-footer">
            <a class="btn btn-sm btn-danger cal-clear" title="Delete">
                <i class="bi bi-trash3"></i>
            </a>

            <div>
                <a class="btn btn-sm btn-warning cal-cancel" title="Cancel">
                    <i class="bi bi-x-lg"></i>
                </a>

                <a class="btn btn-sm btn-success cal-ok" title="OK">
                    <i class="bi bi-check2-square"></i>
                </a>
            </div>
        </div>
    </div>
