
<div class="modal fade" id="holidayModal" tabindex="-1" aria-labelledby="holidayLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center w-100">
                <button class="btn btn-outline-secondary btn-sm" id="prevMonth">
                    <i class="bi bi-caret-left-square"></i>
                </button>

                <h5 class="modal-title mx-3" id="calendarTitle">
                    <i class="bi bi-calendar-date"></i>
                    Holiday Setup</h5>

                <button class="btn btn-outline-secondary btn-sm" id="nextMonth">
                    <i class="bi bi-caret-right-square"></i>
                </button>

                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="calendar mb-3" id="calendarGrid"></div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="saveHolidays">
                    <i class="bi bi-save"></i>
                    Save
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>