@model ManpowerModel 
<form asp-action="AddManpower" asp-controller="PE" method="post">
<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">@* " modal-lg"> *@
        <div class="modal-content">
            <div class="modal-header table-success">
                <h5 class="modal-title">
                    <i class="bi bi-plus-circle"></i>
                    Add
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body bg-warning">
                    <div class="row g-2">

                        <div class="col-4">Company</div>
                        <div class="col-8">
                            <input type="text" class="form-control" asp-for="Company" required />  
                            <span asp-validation-for="Company" class="text-danger"></span>
                        </div>

                        <div class="col-4">U Model</div>
                        <div class="col-8">
                            <input type="text" class="form-control" asp-for="UModel" required />
                            <span asp-validation-for="UModel" class="text-danger"></span>
                        </div>

                        <div class="col-4">B Model</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="BModel" /></div>

                        <div class="col-4">Description</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="Description" /></div>

                        <div class="col-4">SMT Headcount</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="SmtHeadcount" /></div>

                        <div class="col-4">SMT Cost</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="SmtCost" /></div>

                        <div class="col-4">Insert Headcount</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="InsertHeadcount" /></div>

                        <div class="col-4">Insert Cost</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="InsertCost" /></div>

                        <div class="col-4">SCL Headcount</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="SclHeadcount" /></div>

                        <div class="col-4">SCL Cost</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="SclCost" /></div>

                        <div class="col-4">Assy Headcount</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="AssyHeadcount" /></div>

                        <div class="col-4">Assy Cost</div>
                        <div class="col-8"><input type="text" class="form-control" asp-for="AssyCost" /></div>

                        <div class="col-4">Updated Date</div>
                        <div class="col-8"><input type="date" class="form-control" asp-for="UpdatedModelDt" /></div>
                    </div>
                
            </div> 
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary">
                        <i class="bi bi-plus-circle"></i>
                        Add
                </button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-regular fa-circle-xmark"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</form>
@* <div class="form-group mx-2 py-1" style="min-width: 180px;">
    <input id="startDate" type="date" name="startDate" class="form-control"
           value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-dd") : "")" />
</div> *@